In [8]:
import csv
import pandas as pd

In [ ]:


def read_txt_as_csv(txt_filepath, csv_filepath):
    """
    Reads a comma-separated .txt file and writes its content to a .csv file.

    Args:
        txt_filepath (str): The path to the input .txt file.
        csv_filepath (str): The path to the output .csv file.
    """
    try:
        with open(txt_filepath, 'r') as infile, open(csv_filepath, 'w', newline='') as outfile:
            reader = csv.reader(infile)
            writer = csv.writer(outfile)
            for row in reader:
                writer.writerow(row)
        print(f"Successfully converted '{txt_filepath}' to '{csv_filepath}'")
    except FileNotFoundError:
        print(f"Error: File not found: '{txt_filepath}'")
    except Exception as e:
         print(f"An error occurred: {e}")
# Example usage:
txt_file_path = '/Users/lucanozzoli/UTFPR/sistemas_inteligentes/Sistemas-Inteligentes-ML/treino_sinais_vitais_com_label.txt'
csv_file_path = '/Users/lucanozzoli/UTFPR/sistemas_inteligentes/Sistemas-Inteligentes-ML/treino_sinais_vitais_com_label.csv'
read_txt_as_csv(txt_file_path, csv_file_path)

Successfully converted '/Users/lucanozzoli/UTFPR/sistemas_inteligentes/Sistemas-Inteligentes-ML/treino_sinais_vitais_com_label.txt' to '/Users/lucanozzoli/UTFPR/sistemas_inteligentes/Sistemas-Inteligentes-ML/treino_sinais_vitais_com_label.csv'

In [9]:
csv_file_path = '/Users/lucanozzoli/UTFPR/sistemas_inteligentes/Sistemas-Inteligentes-ML/treino_sinais_vitais_com_label.csv'
data = pd.read_csv(csv_file_path,
                   names=['id', 
                          'pSist', 
                          'pDiast', 
                          'qPA', 
                          'pulso', 
                          'resp', 
                          'gravid', 
                          'classe'])

In [15]:
data.sort_values(by='classe')

,id,pSist,pDiast,qPA,pulso,resp,gravid,classe
204,205,15.047272,5.260907,4.702901,164.929364,8.431454,24.944371,1
467,468,19.344206,11.076403,8.721317,131.369296,2.385044,17.820575,1
844,845,18.351943,14.466340,8.733333,36.320693,2.585986,15.735906,1
571,572,14.906202,14.239559,8.644059,198.998052,21.288690,13.251349,1
1298,1299,18.526516,9.807759,4.744192,30.017316,3.725127,24.684266,1
...,...,...,...,...,...,...,...,...
1432,1433,11.212889,8.863571,-0.000000,69.200241,16.570584,84.939847,4
729,730,11.833696,7.027023,-0.000000,102.735812,13.876494,80.394324,4
1173,1174,12.039103,4.916324,-0.138135,68.027911,21.646279,81.419671,4
439,440,4.966084,1.019892,0.000000,92.939880,17.326165,81.414567,4
933,934,20.181488,4.762809,3.536937,89.574546,15.480336,75.854697,4